<login-container class="d-flex flex-column align-items-center">
    <div class="input-group mb-3 w-50">
        <span class="input-group-text" id="basic-addon1">Username</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1" id="username">
    </div>
    <div class="input-group mb-3 w-50">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1" id="password">
    </div>
    <button type="button" class="btn btn-primary w-25 mb-3" id="button-login">Login</button>
    <button type="button" class="btn btn-primary w-25 mb-3" id="button-signup">Sign Up</button>
</login-container>
<script src="/js/login.js"></script>