<post-container class="d-flex flex-column align-items-center">
    <h1>New Post</h1>
    <post
        class="d-flex flex-column align-items-center w-50 border border-primary rounded border-3 pt-2 mb-3 mt-3 shadow">
        <input type="text" class="form-control w-75 mb-3 text-center mt-3" id="title" placeholder="Title">
        <textarea type=" text" class="form-control w-75 mb-3 text-center" id="content" placeholder="Content"></textarea>
        <button type="button" class="btn btn-primary w-50 mb-3" id="button-submit">Submit</button>
    </post>
</post-container>
<script src="/js/newpost.js"></script>